#mainNav{
    margin-bottom: 0%;
}
#quickNav{
    padding-top: 0%;
    margin-top: 0%;
    margin-left: 30%;
}

#regLog{
    float: right;
    width: 300px;
    padding-top: 10px;
}
.imageWidth{width: 100px;}
.titleWidth{width: 300px;}
.detailsWidth{width: 10px;}

.newsCcontent{
    height: 120px;
}

.details{
    margin-top: 25px;
    margin-left: 120px;
}

.expand{
    width: 10px;
    height: 95px;
    background: #717f82;
    float: left;
}

tr{height:60px;}